<h3 class="row">
	Create Invoice
	<hr>
</h3>
<form class="form" action="POST" role="form">
  <div class="row form-group">
    <!-- Consignee -->
    <label class="col-xs-2 text-right">Consignee <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      Krisna
    </div>
    <!-- end Cosignee -->

    <!-- Invoice Date -->
    <label class="col-xs-2 text-right">Invoice Date <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="date" class="form-control">
    </div>
    <!-- end Invoice Date  -->
  </div>

  <div class="row form-group">
    <!-- Receive Delivery Note Number -->
    <label class="col-xs-2 text-right">Receive Delivery Note Number <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- end Consignee -->
  </div>

  <div class="row">
    <h3>
      Pricing By Plan
    </h3>
  </div>
  <div class="row form-group background-white">
    <label class="col-xs-2 text-right">
      Weight
    </label>
    <div class="col-xs-4">
      <div class="col-xs-4">
        <input type="text" class="form-control" disabled value="90 Kgs">
      </div>
    </div>

    <label class="col-xs-2 text-right">
      Volume
    </label>
    <div class="col-xs-4">
        <input type="text" class="form-control" disabled value="Length 90">
        <input type="text" class="form-control" disabled value="Width 10">
        <input type="text" class="form-control" disabled value="Height 30">
        Total 27.000
    </div>
    <!-- Price Measurement By (Kgs)-->
    <label class="col-xs-2 text-right">Price by Weight (Kgs) <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      Rp 900.000
    </div>
    <!-- End Price Measurement By (Kgs)-->

    <!-- Price Measurement By (Volume)-->
    <label class="col-xs-2 text-right">Price by Weight (Volume) <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      Rp 1.000.000
    </div>
    <!-- End Price Measurement By (Volume)-->
  </div>

  <div class="row">
    <h3>
      Actual
    </h3>
  </div>
  <div class="row form-group background-white">
    <label class="col-xs-2 text-right">
      Weight
    </label>
    <div class="col-xs-4">
      <div class="col-xs-4">
        <input type="text" class="form-control" disabled value="88 Kgs">
      </div>
    </div>

    <label class="col-xs-2 text-right">
      Volume
    </label>
    <div class="col-xs-4">
        <input type="text" class="form-control" disabled value="Length 90">
        <input type="text" class="form-control" disabled value="Width 10">
        <input type="text" class="form-control" disabled value="Height 30">
        Total 27.000
    </div>
    <!-- Price Measurement By (Kgs)-->
    <label class="col-xs-2 text-right">Price by Weight (Kgs) <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      Rp 870.000
    </div>
    <!-- End Price Measurement By (Kgs)-->

    <!-- Price Measurement By (Volume)-->
    <label class="col-xs-2 text-right">Price by Weight (Volume) <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      Rp 1.000.000
    </div>
    <!-- End Price Measurement By (Volume)-->
  </div>

  <div class="row form-group">
    <label class="col-xs-2 text-right">
      Commision
    </label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12 text-right">
      <button class="btn btn-warning">Print</button>
      <button class="btn btn-success">Submit</button>
    </div>
  </div>
</form>
