<div class="collection-list">
  <div class="row margin-bottom-15">
    <div class="col-xs-12">
      <h3>Invoices list</h3>
    </div>

    <div class="col-xs-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-addon">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-lg btn-info pull-right">
        <i class="fa fa-plus"></i>
        Create
      </button>
    </div>
  </div>

  <table class="table table-bordered">
    <tr>
      <th class="text-center">Invoice ID</th>
      <th class="text-center">Marking ID</th>
      <th class="text-center">Consignee</th>
      <th class="text-center">Shipper</th>
      <th class="text-center">Price</th>
      <th class="text-center">unit</th>
      <th class="text-center">Total Packages</th>
      <th class="text-center">Total</th>
      <th class="text-center">Actions</th>
    </tr>

    <tr>
      <td class="text-center">INV928192</td>
      <td class="text-center">AF21213A</td>
      <td class="text-center">Krisna</td>
      <td class="text-center">Apple</td>
      <td class="text-center">100000</td>
      <td class="text-center">Kgs</td>
      <td class="text-center">5</td>
      <td class="text-center">672000</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>

    <tr>
      <td class="text-center">INV1128183</td>
      <td class="text-center">B42213A</td>
      <td class="text-center">Krisna</td>
      <td class="text-center">Apple</td>
      <td class="text-center">120000</td>
      <td class="text-center">Kgs</td>
      <td class="text-center">3</td>
      <td class="text-center">430000</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>

    <tr>
      <td class="text-center">INV77129</td>
      <td class="text-center">KA9210AS</td>
      <td class="text-center">Sendy</td>
      <td class="text-center">Samsung</td>
      <td class="text-center">330000</td>
      <td class="text-center">m3</td>
      <td class="text-center">1</td>
      <td class="text-center">363000</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
  </table>
</div>
