<h3 class="row">
	Create Collection
	<hr>
</h3>
<form class="form" action="POST" role="form">
  <div class="row form-group">
    <!-- Marking ID -->
      <label class="col-xs-2 text-right">Marking ID <span class="required-asterisk">*</span></label>
      <div class="col-xs-4">
        <input type="text" class="form-control">
      </div>
    <!-- End Marking Id -->

    <!-- Receive Date -->
    <label class="col-xs-2 text-right">Receive Date <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="date" class="form-control">
    </div>
    <!-- end Receive Date  -->
  </div>

  <div class="row form-group">
    <!-- Consignee -->
    <label class="col-xs-2 text-right">Consignee <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <select class="form-control">
        <option selected>Krisna 123</option>
        <option>Sendy 222</option>
        <option>Alex 333</option>
      </select>
    </div>
    <!-- end Cosignee -->

    <!-- Shipper -->
    <label class="col-xs-2 text-right">Shipper <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <select class="form-control">
        <option selected>Dell</option>
        <option>Apple</option>
        <option>Samsung</option>
      </select>
    </div>
    <!-- end Shipper  -->
  </div>

  <div class="row form-group">
    <!-- Shipping Mode -->
    <label class="col-xs-2 text-right">Shipping Mode <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <select class="form-control">
        <option selected>Undecided</option>
        <option>AIR</option>
        <option>SEA</option>
      </select>
    </div>
    <!-- end Shipping Mode  -->

    <!-- Type of Package -->
    <label class="col-xs-2 text-right">Type of Package <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <select class="form-control">
        <option selected>Full Container</option>
        <option>LCL</option>
      </select>
    </div>
    <!-- end Type of Package  -->
  </div>

  <div class="row form-group">
    <!-- Origin -->
      <label class="col-xs-2 text-right">Origin <span class="required-asterisk">*</span></label>
      <div class="col-xs-4">
        <input type="text" class="form-control">
      </div>
    <!-- End Origin -->

    <!-- Destination -->
      <label class="col-xs-2 text-right">Destination <span class="required-asterisk">*</span></label>
      <div class="col-xs-4">
        <input type="text" class="form-control">
      </div>
    <!-- End Destination -->
  </div>

  <div class="row form-group">
    <!-- Container Measure -->
    <label class="col-xs-2 text-right">Container Measure <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <select class="form-control">
        <option selected>20 ft</option>
        <option>40 ft</option>
      </select>
    </div>
    <!-- end Container Measure  -->

    <!-- Total Packages -->
      <label class="col-xs-2 text-right">Total Packages <span class="required-asterisk">*</span></label>
      <div class="col-xs-4">
        <input type="text" class="form-control">
      </div>
    <!-- End Total Packages -->
  </div>

  <div class="row form-group">
    <!-- Measurement (Kgs)-->
    <label class="col-xs-2 text-right">Weight (Kgs) <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Measurement-->

    <!-- Measurement (Dimension)-->
    <label class="col-xs-2 text-right">Dimension <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control" placeholder="Length">
      <input type="text" class="form-control" placeholder="Width">
      <input type="text" class="form-control" placeholder="Height">
      <input type="text" class="form-control" placeholder="Volume" disabled>
    </div>
    <!-- End Measurement-->
  </div>

  <div class="form-group row">
    <!-- Description -->
    <label class="col-xs-2 text-right">Description</label>
    <div class="col-xs-4">
      <textarea class="form-control" rows="6"></textarea>
    </div>
    <!-- End Description -->

    <!-- Destination Address -->
    <label class="col-xs-2 text-right">Destination Address <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <textarea class="form-control" rows="6"></textarea>
    </div>
    <!-- End Destination Address -->
  </div>

  <div class="form-group row">
    <!-- Attachments -->
    <label class="col-xs-2 text-right">Attachments</label>
    <div class="col-xs-4">
      <input type="file" name="attachments[]">
    </div>
    <!-- End Attachments -->

    <!-- ETA -->
    <label class="col-xs-2 text-right">ETA</label>
    <div class="col-xs-4">
      <input type="date" name="eta" class="form-control">
    </div>
    <!-- End ETA -->
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12">
      <div class="row margin-bottom-10">
        <!-- Sales Team -->
        <label class="col-xs-2 text-right">Sales Team <span class="required-asterisk">*</span></label>
        <div class="col-xs-4">
          <select class="form-control">
            <option selected>John</option>
            <option>Jordy</option>
            <option>Richel</option>
          </select>
          <select class="form-control">
            <option>John</option>
            <option>Jordy</option>
            <option selected>Richel</option>
          </select>
        </div>
        <!-- end Sales Team  -->
      </div>

      <div class="row">
        <div class="col-xs-6 text-right">
          <button class="btn btn-info">
            <i class="fa fa-plus"></i>
            Add
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>
        Notified Party
      </h3>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-12">
      <table class="table table-bordered">
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Email</th>
          <th class="text-center">Phone</th>
        </tr>
        <tr>
          <td class="text-center"><input class="form-control" type="text" placeholder="Name"></td>
          <td class="text-center"><input class="form-control" type="text" placeholder="Email"></td>
          <td class="text-center"><input class="form-control" type="text" placeholder="Phone"></td>
        </tr>
        <tr>
          <td class="text-center"><input class="form-control" type="text" placeholder="Name"></td>
          <td class="text-center"><input class="form-control" type="text" placeholder="Email"></td>
          <td class="text-center"><input class="form-control" type="text" placeholder="Phone"></td>
        </tr>
        <tr>
          <td class="text-right" colspan="3">
            <button class="btn btn-info">
              <i class="fa fa-plus"></i>
              Add
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>


  <div class="form-group">
    <div class="col-xs-12">
      <button class="btn btn-success pull-right">Submit</button>
    </div>
  </div>
</form>
