<div class="collection-list">
  <div class="row margin-bottom-15">
    <div class="col-xs-12">
      <h3>Collection list</h3>
    </div>

    <div class="col-xs-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-addon">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-lg btn-info pull-right">
        <i class="fa fa-plus"></i>
        Create
      </button>
    </div>
  </div>

  <table class="table table-bordered">
    <tr>
      <th class="text-center">Marking ID</th>
      <th class="text-center">Consignee</th>
      <th class="text-center">Shipper</th>
      <th class="text-center">Packages</th>
      <th class="text-center">Sales</th>
      <th class="text-center">Instruction</th>
      <th class="text-center">Position</th>
      <th class="text-center">Status</th>
      <th class="text-center">Actions</th>
    </tr>

    <tr>
      <td class="text-center">AF21213A</td>
      <td class="text-center">Krisna</td>
      <td class="text-center">Samsung</td>
      <td class="text-center">5</td>
      <td class="text-center">John</td>
      <td class="text-center">AIR</td>
      <td class="text-center">Warehouse Singapore</td>
      <td class="text-center">Delivered</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>

    <tr>
      <td class="text-center">B42213A</td>
      <td class="text-center">Krisna</td>
      <td class="text-center">Apple</td>
      <td class="text-center">1</td>
      <td class="text-center">Jordy</td>
      <td class="text-center">SEA</td>
      <td class="text-center">Warehouse Jakarta</td>
      <td class="text-center">Closed</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>

    <tr>
      <td class="text-center">KA9210AS</td>
      <td class="text-center">Alex</td>
      <td class="text-center">Apple</td>
      <td class="text-center">3</td>
      <td class="text-center">Jordy</td>
      <td class="text-center">SEA</td>
      <td class="text-center">Warehouse Singapore</td>
      <td class="text-center">Open</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>

    <tr>
      <td class="text-center">L1231KAQ1</td>
      <td class="text-center">Sendy</td>
      <td class="text-center">DELL</td>
      <td class="text-center">3</td>
      <td class="text-center">Richel</td>
      <td class="text-center">AIR</td>
      <td class="text-center">Client</td>
      <td class="text-center">Delivered</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
  </table>
</div>
