body {
  background-color: @body-bg-color;
  font-family: 'Open Sans', sans-serif;
}

.content {
  padding-top: 20px;

  .row {
    margin-right: 0;
  }
}

.background-white {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
