input.form-control,
select.form-control,
textarea.form-control {
  border-radius: 0px;
  border: none;

  &:hover,
  &:active,
  &:focus {
    border: none;
  }
}

.required-asterisk {
  color: red;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
