.nav-container {
  position: fixed;
  background-color: #FFF;
  height: 100%;
  width: 250px;
  padding: 0;

  .item {
    padding: 15px;
    font-size: 16px;
    font-weight: 600;

    &.active {
      color: white;
      background-color: #2CA2C6;
    }

    .icon-container {
      display: inline-block;
      width: 20px;
      margin-right: 3px;
    }
  }

}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: inherit;
}

