<h3 class="row">
	Create Delivery Order
	<hr>
</h3>
<form class="form" action="POST" role="form">
  <div class="row form-group">
    <!-- DO ID-->
      <label class="col-xs-2 text-right">DO ID <span class="required-asterisk">*</span></label>
      <div class="col-xs-4">
        <input type="text" class="form-control">
      </div>
    <!-- End DO ID-->


    <!-- Created Date -->
    <label class="col-xs-2 text-right">Created Date <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="date" class="form-control">
    </div>
    <!-- End Created Date-->
  </div>

  <div class="row form-group">
    <!-- Delivery By -->
    <label class="col-xs-2 text-right">Delivery By <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Delivery By-->

    <!-- Instructed By -->
    <label class="col-xs-2 text-right">Instructed By <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- end Instructed By  -->
  </div>

  <div class="row form-group">
    <!-- Total Packages -->
    <label class="col-xs-2 text-right">Total Packages</label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Total Packages-->

    <!-- Measurement (Dimension)-->
    <label class="col-xs-2 text-right">Measurement (Dimension)</label>
    <div class="col-xs-4">
      <input type="text" class="form-control" placeholder="Length">
      <input type="text" class="form-control" placeholder="Width">
      <input type="text" class="form-control" placeholder="Height">
    </div>
    <!-- End Measurement-->
  </div>

  <div class="row form-group">
    <!-- Description -->
    <label class="col-xs-2 text-right">Description</label>
    <div class="col-xs-4">
      <textarea class="form-control" rows="6"></textarea>
    </div>
    <!-- End Description -->
  </div>

  <div class="form-group">
    <div class="col-xs-12 text-right">
      <button class="btn btn-success">Submit</button>
      <button class="btn btn-warning">Print</button>
    </div>
  </div>

  <div class="collection-list">
    <div class="row margin-bottom-15">
      <div class="col-xs-12">
        <h3>Collection list</h3>
      </div>

      <div class="col-xs-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-addon">
            <i class="fa fa-search"></i>
          </div>
        </div>
      </div>
    </div>

    <table class="table table-bordered">
      <tr>
        <th class="text-center">Marking ID</th>
        <th class="text-center">Consignee</th>
        <th class="text-center">Shipper</th>
        <th class="text-center">Packages</th>
        <th class="text-center">Sales</th>
        <th class="text-center">Position</th>
        <th class="text-center">Status</th>
        <th class="text-center">Check</th>
      </tr>

      <tr>
        <td class="text-center">AF21213A</td>
        <td class="text-center">Krisna</td>
        <td class="text-center">Samsung</td>
        <td class="text-center">5</td>
        <td class="text-center">John</td>
        <td class="text-center">Warehouse Jakarta</td>
        <td class="text-center">Open</td>
        <td class="text-center">
          <input type="checkbox">
        </td>
      </tr>

      <tr>
        <td class="text-center">B42213A</td>
        <td class="text-center">Krisna</td>
        <td class="text-center">Apple</td>
        <td class="text-center">1</td>
        <td class="text-center">Jordy</td>
        <td class="text-center">Warehouse Jakarta</td>
        <td class="text-center">Open</td>
        <td class="text-center">
          <input type="checkbox">
        </td>
      </tr>

      <tr>
        <td class="text-center">KA9210AS</td>
        <td class="text-center">Alex</td>
        <td class="text-center">Apple</td>
        <td class="text-center">3</td>
        <td class="text-center">Jordy</td>
        <td class="text-center">Warehouse Jakarta</td>
        <td class="text-center">Open</td>
        <td class="text-center">
          <input type="checkbox">
        </td>
      </tr>

      <tr>
        <td class="text-center">L1231KAQ1</td>
        <td class="text-center">Sendy</td>
        <td class="text-center">DELL</td>
        <td class="text-center">3</td>
        <td class="text-center">Richel</td>
        <td class="text-center">Warehouse Jakarta</td>
        <td class="text-center">Open</td>
        <td class="text-center">
          <input type="checkbox">
        </td>
      </tr>
    </table>
  </div>

</form>
