<div class="collection-list">
  <div class="row margin-bottom-15">
    <div class="col-xs-12">
      <h3>Delivery Orders list</h3>
    </div>

    <div class="col-xs-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-addon">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-lg btn-info pull-right">
        <i class="fa fa-plus"></i>
        Create
      </button>
    </div>
  </div>

  <table class="table table-bordered">
    <tr>
      <th class="text-center">Transaction ID</th>
      <th class="text-center">Marking ID</th>
      <th class="text-center">Consignee</th>
      <th class="text-center">PO Customer</th>
      <th class="text-center">DO Customer</th>
      <th class="text-center">From - To</th>
      <th class="text-center">Invoice</th>
      <th class="text-center">Total Packages</th>
      <th class="text-center">Actions</th>
    </tr>

    <tr>
      <td class="text-center">DO84831</td>
      <td class="text-center">AF21213A</td>
      <td class="text-center">Krisna</td>
      <td class="text-center">PO11111</td>
      <td class="text-center">DOC84831</td>
      <td class="text-center">Singapore to Jakarta</td>
      <td class="text-center">INV928192</td>
      <td class="text-center">5</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>

    <tr>
      <td class="text-center">DO88121</td>
      <td class="text-center">B42213A</td>
      <td class="text-center">Krisna</td>
      <td class="text-center">PO22222</td>
      <td class="text-center">DOC88121</td>
      <td class="text-center">Singapore to Jakarta</td>
      <td class="text-center">INV1128183</td>
      <td class="text-center">3</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>

    <tr>
      <td class="text-center">DO391354</td>
      <td class="text-center">KA9210AS</td>
      <td class="text-center">Alex</td>
      <td class="text-center">PO146772</td>
      <td class="text-center">DOC391354</td>
      <td class="text-center">Surabaya to Jakarta</td>
      <td class="text-center">INV77129</td>
      <td class="text-center">1</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>

    <tr>
      <td class="text-center">DO716377</td>
      <td class="text-center">L1231KAQ1</td>
      <td class="text-center">Sendy</td>
      <td class="text-center">PO172344</td>
      <td class="text-center">DOC56612</td>
      <td class="text-center">Jakarta to Bandung</td>
      <td class="text-center">INV55144</td>
      <td class="text-center">9</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
  </table>
</div>
