<h3 class="row">
  Create Receive Delivery Note
	<hr>
</h3>
<form class="form" action="POST" role="form">

  <div class="row form-group">
    <!-- Received By -->
    <label class="col-xs-2 text-right">Received By <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Received By-->

    <!-- Received Date -->
    <label class="col-xs-2 text-right">Received DN Date <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="date" class="form-control">
    </div>
    <!-- End Received Date -->
  </div>

  <div class="row form-group">
    <!-- Measurement (Kgs)-->
    <label class="col-xs-2 text-right">Weight (Kgs) <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Measurement-->

    <!-- Measurement (Dimension)-->
    <label class="col-xs-2 text-right">Dimension <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control" placeholder="Length">
      <input type="text" class="form-control" placeholder="Width">
      <input type="text" class="form-control" placeholder="Height">
      <input type="text" class="form-control" placeholder="Volume" disabled>
    </div>
    <!-- End Measurement-->
  </div>

  <div class="form-group">
    <div class="col-xs-12 text-right">
      <button class="btn btn-success">Submit</button>
    </div>
  </div>
</form>
