<table class="table table-bordered">
  <tr>
    <th class="text-center">Delivery Order ID</th>
    <th class="text-center">Created  By</th>
    <th class="text-center">Received By</th>
    <th class="text-center">DN Date</th>
    <th class="text-center">
      Action
    </th>
  </tr>

  <tr>
    <td class="text-center">DN84831</td>
    <td class="text-center">Krisna</td>
    <td class="text-center">Sendy</td>
    <td class="text-center">2 May 2014</td>
    <td class="text-center">
      <button class="btn btn-info">Create Receive Delivery Note</button>
    </td>
  </tr>

  <tr>
    <td class="text-center">DN88121</td>
    <td class="text-center">Alex</td>
    <td class="text-center">Boby</td>
    <td class="text-center">3 April 2014</td>
    <td class="text-center">
      <button class="btn btn-info">Create Receive Delivery Note</button>
    </td>
  </tr>

  <tr>
    <td class="text-center">DN391354</td>
    <td class="text-center">Harry</td>
    <td class="text-center">Freddy</td>
    <td class="text-center">14 March 2014</td>
    <td class="text-center">
      <button class="btn btn-info">Create Receive Delivery Note</button>
    </td>
  </tr>
</table>
