<h3 class="row">
  <div class="col-xs-6">
    Create Consignee
  </div>
  <div class="col-xs-6 text-right">
    <button type="submit" class="btn btn-info">
      <i class="fa fa-plus"></i>
      Add best price
    </button>
  </div>
	<hr>
</h3>
<form class="form" action="POST" role="form">
  <div class="row form-group">
    <!-- Consignee ID autocomplete with query name + id -->
    <label class="col-xs-2 text-right">Consignee ID<span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Consignee ID -->

    <!-- Name -->
    <label class="col-xs-2 text-right">Name <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Name -->
  </div>

  <div class="row form-group">
    <!-- Email -->
      <label class="col-xs-2 text-right">Email <span class="required-asterisk">*</span></label>
      <div class="col-xs-4">
        <input type="email" class="form-control">
      </div>
    <!-- End Email -->

    <!-- Address 1 -->
    <label class="col-xs-2 text-right">Address 1 <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <textarea class="form-control" rows="6"></textarea>
    </div>
    <!-- End Address 1 -->
  </div>

  <div class="row form-group">
    <!-- Country -->
    <label class="col-xs-2 text-right">Country <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Country -->

    <!-- City -->
    <label class="col-xs-2 text-right">City <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End City -->
  </div>

  <div class="row form-group">
    <!-- State -->
    <label class="col-xs-2 text-right">State <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End State -->

    <!-- Zip Code -->
    <label class="col-xs-2 text-right">Zip Code <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Zip Code -->
  </div>

  <div class="row form-group">
    <!-- Phone -->
    <label class="col-xs-2 text-right">Phone <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Phone -->

    <!-- Fax -->
    <label class="col-xs-2 text-right">Fax</label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Fax -->
  </div>

  <div class="row form-group">
    <!-- Service Level -->
    <label class="col-xs-2 text-right">Service Level <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Service Level -->

    <!-- Description -->
    <label class="col-xs-2 text-right">Description</label>
    <div class="col-xs-4">
      <textarea id="" class="form-control" name="" cols="30" rows="2"></textarea>
    </div>
    <!-- End Description -->
  </div>

  <div class="row form-group">
    <!-- Remark -->
    <label class="col-xs-2 text-right">Remark</label>
    <div class="col-xs-4">
      <textarea class="form-control" rows="6"></textarea>
    </div>
    <!-- End Remark -->
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>
        Contact Person
      </h3>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-12">
      <table class="table table-bordered">
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Role</th>
          <th class="text-center">Phone</th>
        </tr>
        <tr>
          <td class="text-center"><input class="form-control" type="text" placeholder="Name"></td>
          <td class="text-center"><input class="form-control" type="text" placeholder="Role"></td>
          <td class="text-center"><input class="form-control" type="text" placeholder="Phone"></td>
        </tr>
        <tr>
          <td class="text-right" colspan="3">
            <button class="btn btn-info">
              <i class="fa fa-plus"></i>
              Add
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12">
      <button class="btn btn-success pull-right">Submit</button>
    </div>
  </div>
</form>
