<h3 class="row">
	Create Container
	<hr>
</h3>

<form class="form" action="POST" role="form">
  <div class="row form-group">
    <!-- Container Number -->
    <label class="col-xs-2 text-right">Container Number<span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Container Number -->

    <!-- Date -->
    <label class="col-xs-2 text-right">Date <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="date" class="form-control">
    </div>
    <!-- End Date -->
  </div>

  <div class="row form-group">
    <!-- Destination -->
    <label class="col-xs-2 text-right">Destination <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Destination -->

    <!-- Size -->
    <label class="col-xs-2 text-right">Size <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <select id="" class="form-control" name="">
        <option value="">20 ft</option>
        <option value="">40 ft</option>
      </select>
    </div>
    <!-- End Size -->
  </div>

<!--
   -   <div class="row form-group">
   -     [> Truck  <]
   -     <label class="col-xs-2 text-right">Truck <span class="required-asterisk">*</span></label>
   -     <div class="col-xs-4">
   -       <input type="text" class="form-control">
   -     </div>
   -     [> End Truck  <]
   -
   -     [> Truck By <]
   -     <label class="col-xs-2 text-right">Truck By<span class="required-asterisk">*</span></label>
   -     <div class="col-xs-4">
   -       <input type="text" class="form-control">
   -     </div>
   -     [> End Truck By <]
   -   </div>
   -->

  <div class="row form-group">
    <!-- Stuffed By -->
      <label class="col-xs-2 text-right">Stuffed By <span class="required-asterisk">*</span></label>
      <div class="col-xs-4">
        <input type="text" class="form-control">
      </div>
    <!-- End Stuffed By -->

    <!-- ETA -->
    <label class="col-xs-2 text-right">ETA</label>
    <div class="col-xs-4">
      <input type="date" class="form-control">
    </div>
    <!-- End ETA -->
  </div>

  <div class="row form-group">
    <!-- Total Weight -->
      <label class="col-xs-2 text-right">Total Weight</label>
      <div class="col-xs-4">
        (Auto)
      </div>
    <!-- End Total Weight -->

    <!-- Total Volume -->
    <label class="col-xs-2 text-right">Total Volume</label>
    <div class="col-xs-4">
      (Auto)
    </div>
    <!-- End Total Volume -->
  </div>

  <div class="form-group">
    <div class="col-xs-12">
      <button class="btn btn-success pull-right">Submit</button>
    </div>
  </div>
</form>

<div class="collection-list">
  <div class="row margin-bottom-15">
    <div class="col-xs-12">
      <h3>Collection list</h3>
    </div>

    <div class="col-xs-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-addon">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-bordered">
    <tr>
      <th class="text-center">Marking ID</th>
      <th class="text-center">Consignee</th>
      <th class="text-center">Shipper</th>
      <th class="text-center">Packages</th>
      <th class="text-center">Sales</th>
      <th class="text-center">Shipping Method</th>
      <th class="text-center">Status</th>
      <th class="text-center">Check</th>
    </tr>

    <tr>
      <td class="text-center">AF21213A</td>
      <td class="text-center">Krisna</td>
      <td class="text-center">Samsung</td>
      <td class="text-center">5</td>
      <td class="text-center">John</td>
      <td class="text-center">Undecided</td>
      <td class="text-center">Open</td>
      <td class="text-center">
        <input type="checkbox">
      </td>
    </tr>

    <tr>
      <td class="text-center">B42213A</td>
      <td class="text-center">Krisna</td>
      <td class="text-center">Apple</td>
      <td class="text-center">1</td>
      <td class="text-center">Jordy</td>
      <td class="text-center">Undecided</td>
      <td class="text-center">Open</td>
      <td class="text-center">
        <input type="checkbox">
      </td>
    </tr>

    <tr>
      <td class="text-center">KA9210AS</td>
      <td class="text-center">Alex</td>
      <td class="text-center">Apple</td>
      <td class="text-center">3</td>
      <td class="text-center">Jordy</td>
      <td class="text-center">Undecided</td>
      <td class="text-center">Open</td>
      <td class="text-center">
        <input type="checkbox">
      </td>
    </tr>

    <tr>
      <td class="text-center">L1231KAQ1</td>
      <td class="text-center">Sendy</td>
      <td class="text-center">DELL</td>
      <td class="text-center">3</td>
      <td class="text-center">Richel</td>
      <td class="text-center">Undecided</td>
      <td class="text-center">Open</td>
      <td class="text-center">
        <input type="checkbox">
      </td>
    </tr>
  </table>
</div>

