<div class="collection-list">
  <div class="row margin-bottom-15">
    <div class="col-xs-12">
      <h3>Containers List</h3>
    </div>

    <div class="col-xs-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-addon">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-lg btn-info pull-right">
        <i class="fa fa-plus"></i>
        Create
      </button>
    </div>
  </div>

  <table class="table table-bordered">
    <tr>
      <th class="text-center">Marking ID</th>
      <th class="text-center">Container</th>
      <th class="text-center">Destination</th>
      <th class="text-center">Truck By</th>
      <th class="text-center">Stuffed by</th>
      <th class="text-center">Seal</th>
      <th class="text-center">Date</th>
      <th class="text-center">ETD</th>
      <th class="text-center">Actions</th>
    </tr>

    <tr>
      <td class="text-center">AF21213A</td>
      <td class="text-center">CONTAINER544</td>
      <td class="text-center">Jakarta</td>
      <td class="text-center">Donni</td>
      <td class="text-center">Bambang</td>
      <td class="text-center">111222</td>
      <td class="text-center">23-06-2015</td>
      <td class="text-center">24-06-2015</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>

    <tr>
      <td class="text-center">ZXA129KK</td>
      <td class="text-center">CONTAINER330</td>
      <td class="text-center">Bandung</td>
      <td class="text-center">Banni</td>
      <td class="text-center">Tirta</td>
      <td class="text-center">303030</td>
      <td class="text-center">26-06-2015</td>
      <td class="text-center">27-06-2015</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>

    <tr>
      <td class="text-center">ZXA129KK</td>
      <td class="text-center">CONTAINER339</td>
      <td class="text-center">Bandung</td>
      <td class="text-center">Banni</td>
      <td class="text-center">Tirta</td>
      <td class="text-center">451232</td>
      <td class="text-center">26-06-2015</td>
      <td class="text-center">27-06-2015</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
  </table>
</div>
