<h3 class="row">
	Create Sales People
	<hr>
</h3>
<form class="form" action="POST" role="form">
  <div class="row form-group">
    <!-- Sales ID -->
    <label class="col-xs-2 text-right">Sales ID<span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Sales ID -->

    <!-- Name -->
      <label class="col-xs-2 text-right">Name <span class="required-asterisk">*</span></label>
      <div class="col-xs-4">
        <input type="text" class="form-control">
      </div>
    <!-- End Name -->
  </div>

  <div class="row form-group">
    <!-- Address 1 -->
    <label class="col-xs-2 text-right">Address 1 <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <textarea class="form-control" rows="6"></textarea>
    </div>
    <!-- End Address 1 -->

    <!-- Address 2 -->
    <label class="col-xs-2 text-right">Address 2</label>
    <div class="col-xs-4">
      <textarea class="form-control" rows="6"></textarea>
    </div>
    <!-- End Address 2 -->
  </div>

  <div class="row form-group">
    <!-- City -->
    <label class="col-xs-2 text-right">City <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End City -->

    <!-- Phone -->
    <label class="col-xs-2 text-right">Phone <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Phone -->
  </div>
  <div class="row form-group">
    <!-- Fax -->
    <label class="col-xs-2 text-right">Is active</label>
    <div class="col-xs-4">
      <input type="checkbox">
    </div>
    <!-- End Fax -->

    <!-- Description -->
    <label class="col-xs-2 text-right">Description</label>
    <div class="col-xs-4">
      <textarea class="form-control" rows="6"></textarea>
    </div>
    <!-- End Description -->
  </div>

  <div class="form-group">
    <div class="col-xs-12">
      <button class="btn btn-success pull-right">Submit</button>
    </div>
  </div>
</form>
