<div class="collection-list">
  <div class="row margin-bottom-15">
    <div class="col-xs-12">
      <h3>Sales List</h3>
    </div>

    <div class="col-xs-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-addon">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-lg btn-info pull-right">
        <i class="fa fa-plus"></i>
        Create
      </button>
    </div>
  </div>

  <table class="table table-bordered">
    <tr>
      <th class="text-center">Sales ID</th>
      <th class="text-center">Name</th>
      <th class="text-center">City</th>
      <th class="text-center">Phone</th>
      <th class="text-center">Active</th>
      <th class="text-center">Actions</th>
    </tr>

    <tr>
      <td class="text-center">SALES1</td>
      <td class="text-center">Ihsan</td>
      <td class="text-center">Jakarta</td>
      <td class="text-center">0812319128</td>
      <td class="text-center">Yes</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>

    <tr>
      <td class="text-center">SALES2</td>
      <td class="text-center">ANNAS</td>
      <td class="text-center">Surabaya</td>
      <td class="text-center">092319213</td>
      <td class="text-center">Yes</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>

    <tr>
      <td class="text-center">SALES3</td>
      <td class="text-center">SALES3</td>
      <td class="text-center">Jakarta</td>
      <td class="text-center">01231483</td>
      <td class="text-center">Yes</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>

    <tr>
      <td class="text-center">SALES4</td>
      <td class="text-center">SALES4</td>
      <td class="text-center">Surabaya</td>
      <td class="text-center">018989989</td>
      <td class="text-center">Yes</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
  </table>
</div>
