<h3 class="row">
	Create Vehicle
	<hr>
</h3>

<form class="form" action="POST" role="form">
  <div class="row form-group">
    <!-- Vehicle Number -->
    <label class="col-xs-2 text-right">Vehicle Number<span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Vehicle Number -->
  </div>

  <div class="row form-group">
    <!-- Description -->
    <label class="col-xs-2 text-right">Description</label>
    <div class="col-xs-4">
      <textarea class="form-control" rows="4"></textarea>
    </div>
    <!-- End Description -->
  </div>

  <div class="row form-group">
    <!-- Active -->
    <label class="col-xs-2 text-right">Active</label>
    <div class="col-xs-4">
      <input type="checkbox" checked>
    </div>
    <!-- End Active -->
  </div>

  <div class="form-group">
    <div class="col-xs-6 text-right">
      <button class="btn btn-success">Submit</button>
    </div>
  </div>
</form>
