<div class="collection-list">
  <div class="row margin-bottom-15">
    <div class="col-xs-12">
      <h3>Shippers List</h3>
    </div>

    <div class="col-xs-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-addon">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-lg btn-info pull-right">
        <i class="fa fa-plus"></i>
        Create
      </button>
    </div>
  </div>

  <table class="table table-bordered">
    <tr>
      <th class="text-center">Shipper ID</th>
      <th class="text-center">Name</th>
      <th class="text-center">City</th>
      <th class="text-center">State</th>
      <th class="text-center">Zip</th>
      <th class="text-center">Country</th>
      <th class="text-center">Actions</th>
    </tr>

    <tr>
      <td class="text-center">SHIPPER33</td>
      <td class="text-center">PT Abc</td>
      <td class="text-center">Jakarta</td>
      <td class="text-center">DKI Jakarta</td>
      <td class="text-center">12260</td>
      <td class="text-center">Indonesia</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>

    <tr>
      <td class="text-center">SHIPPER34</td>
      <td class="text-center">Xyz</td>
      <td class="text-center">Surabaya</td>
      <td class="text-center">State 1</td>
      <td class="text-center">318211</td>
      <td class="text-center">Indonesia</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>

    <tr>
      <td class="text-center">SHIPPER35</td>
      <td class="text-center">Jkl</td>
      <td class="text-center">Jakarta</td>
      <td class="text-center">State 3</td>
      <td class="text-center">11321</td>
      <td class="text-center">Indonesia</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
  </table>
</div>
