
<h3 class="row">
	Create Delivery Note
	<hr>
</h3>
<form class="form" action="POST" role="form">

  <div class="row form-group">
    <!-- Created By -->
    <label class="col-xs-2 text-right">Created By <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Created By-->

    <!-- Delivery Date -->
    <label class="col-xs-2 text-right">Delivery Date <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="date" class="form-control">
    </div>
    <!-- End Delivery Date-->
  </div>

  <div class="form-group">
    <div class="col-xs-12 text-right">
      <button class="btn btn-info">Print</button>
      <button class="btn btn-success">Submit</button>
    </div>
  </div>
</form>

<table class="row table table-bordered">
  <tr>
    <th class="text-center">Delivery Order ID</th>
    <th class="text-center">Marking ID</th>
    <th class="text-center">Consignee</th>
    <th class="text-center">PO Customer</th>
    <th class="text-center">From - To</th>
    <th class="text-center">Total Packages</th>
  </tr>

  <tr>
    <td class="text-center">DO84831</td>
    <td class="text-center">AF21213A</td>
    <td class="text-center">Krisna</td>
    <td class="text-center">PO11111</td>
    <td class="text-center">Singapore to Jakarta</td>
    <td class="text-center">5</td>
  </tr>

  <tr>
    <td class="text-center">DO88121</td>
    <td class="text-center">B42213A</td>
    <td class="text-center">Krisna</td>
    <td class="text-center">PO22222</td>
    <td class="text-center">Singapore to Jakarta</td>
    <td class="text-center">3</td>
  </tr>

  <tr>
    <td class="text-center">DO391354</td>
    <td class="text-center">KA9210AS</td>
    <td class="text-center">Alex</td>
    <td class="text-center">PO146772</td>
    <td class="text-center">Surabaya to Jakarta</td>
    <td class="text-center">1</td>
  </tr>

  <tr>
    <td class="text-center">DO716377</td>
    <td class="text-center">L1231KAQ1</td>
    <td class="text-center">Sendy</td>
    <td class="text-center">PO172344</td>
    <td class="text-center">Jakarta to Bandung</td>
    <td class="text-center">9</td>
  </tr>
</table>
