<h3 class="row">
	Create Vessel
	<hr>
</h3>
<form class="form" action="POST" role="form">
  <div class="row form-group">
    <!-- Vessel -->
    <label class="col-xs-2 text-right">Vessel <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Vessel -->

    <!-- Date -->
    <label class="col-xs-2 text-right">Date <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="date" class="form-control">
    </div>
    <!-- End Date -->
  </div>

  <div class="row form-group">
    <!-- Stuffed By -->
      <label class="col-xs-2 text-right">Stuffed By <span class="required-asterisk">*</span></label>
      <div class="col-xs-4">
        <input type="text" class="form-control">
      </div>
    <!-- End Stuffed By -->

    <!-- Destination -->
    <label class="col-xs-2 text-right">Destination <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control" disabled value="Jakarta">
    </div>
    <!-- End Destination -->
  </div>

  <div class="row form-group">
    <!-- Vehicle Number -->
    <label class="col-xs-2 text-right">Vehicle Number</label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Vehicle Number -->

    <!-- ETD -->
    <label class="col-xs-2 text-right">ETD</label>
    <div class="col-xs-4">
      <input type="date" class="form-control">
    </div>
    <!-- End ETD -->
  </div>

  <div class="row form-group">
    <!-- Driver -->
    <label class="col-xs-2 text-right">Driver</label>
    <div class="col-xs-4">
      <input type="text" class="form-control" placeholder="Driver">
      <input type="text" class="form-control" placeholder="Co Driver">
    </div>
    <!-- End Driver -->

    <!-- Description -->
    <label class="col-xs-2 text-right">Description</label>
    <div class="col-xs-4">
      <textarea class="form-control" rows="6"></textarea>
    </div>
    <!-- End Description -->
  </div>

  <div class="row form-group">
    <!-- Document -->
    <label class="col-xs-2 text-right">Document</label>
    <div class="col-xs-4">
      <input type="file" class="form-control">
    </div>
    <!-- End Document -->
  </div>

  <div class="form-group">
    <div class="col-xs-12">
      <button class="btn btn-success pull-right">Submit</button>
    </div>
  </div>
</form>
