<div class="collection-list">
  <div class="row margin-bottom-15">
    <div class="col-xs-12">
      <h3>Vehicle List</h3>
    </div>

    <div class="col-xs-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-addon">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-lg btn-info pull-right">
        <i class="fa fa-plus"></i>
        Create
      </button>
    </div>
  </div>

  <table class="table table-bordered">
    <tr>
      <th class="text-center">Reference</th>
      <th class="text-center">Vessel</th>
      <th class="text-center">Destination</th>
      <th class="text-center">Stuffed by</th>
      <th class="text-center">Date</th>
      <th class="text-center">ETD</th>
      <th class="text-center">Actions</th>
    </tr>

    <tr>
      <td class="text-center">AF21213A</td>
      <td class="text-center">VESSEL123</td>
      <td class="text-center">Jakarta</td>
      <td class="text-center">Donni</td>
      <td class="text-center">23-06-2015</td>
      <td class="text-center">24-06-2015</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>

    <tr>
      <td class="text-center">AF21213A</td>
      <td class="text-center">VESSEL124</td>
      <td class="text-center">Jakarta</td>
      <td class="text-center">Donni</td>
      <td class="text-center">23-06-2015</td>
      <td class="text-center">24-06-2015</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>

    <tr>
      <td class="text-center">B42213A</td>
      <td class="text-center">VESSEL333</td>
      <td class="text-center">Singapore</td>
      <td class="text-center">Maroni</td>
      <td class="text-center">24-06-2015</td>
      <td class="text-center">24-06-2015</td>
      <td class="text-center">
        <button class="btn btn-success"><i class="fa fa-eye"></i></button>
        <button class="btn btn-info"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
  </table>
</div>
