<h3 class="row">
	Create Warehouse Receiving
	<hr>
</h3>

<form class="form" action="POST" role="form">
  <!-- Marking Id -->
  <div class="row form-group">  <!-- Marking ID -->
    <label class="col-xs-2 text-right">Marking ID <span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
  </div>
  <!-- End Marking Id -->
  <div class="row form-group">
    <!-- Vehicle Number -->
    <label class="col-xs-2 text-right">Vehicle Number<span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Vehicle Number -->
  </div>

  <div class="row form-group">
    <!-- Container Number -->
    <label class="col-xs-2 text-right">Container Number<span class="required-asterisk">*</span></label>
    <div class="col-xs-4">
      <input type="text" class="form-control">
    </div>
    <!-- End Container Number -->
  </div>

  <div class="row form-group">
    <!-- Driver -->
    <label class="col-xs-2 text-right">Driver</label>
    <div class="col-xs-4">
      <input type="text" class="form-control" placeholder="Driver">
      <input type="text" class="form-control" placeholder="Co Driver">
    </div>
    <!-- End Driver -->
  </div>

  <div class="form-group">
    <div class="col-xs-6 text-right">
      <button class="btn btn-success">Submit</button>
    </div>
  </div>
</form>
